Hello <%= @au.firstname %>,<p> 
This is a friendly reminder that your Meritize award cycle is coming to an end soon. At the end of the cycle you should <a href="https://meritize.herokuapp.com/results/votes">login</a> to Meritize and select a winner.</p>
<br/>
Best regards,<br/>
Meritize support team.
