Hi <%= @user.firstname %>,
<br><br>

Congratulations! You have been selected as a winner. Login to <a href="https://meritize.herokuapp.com/signin">Meritize</a> to see your picture on the Wall-of-Winners (WoW).


<br><br>
Keep up the good work,
<br>
Meritize.
