Hi <%= @prop.receiver.firstname %> <%= @prop.receiver.lastname%>,
<br><br>
Nice going, you just got props for a job well done! Login to <a href="http://meritize-test1.herokuapp.com/signin">Meritize</a> to view the props.

<br><br>
Keep up the good work,
<br>
Meritize.
