Hi <%= @prop.receiver.fullname %>,
<br><br>
Nice going, you just got props for a job well done! Login<a href="http://meritize-test1.herokuapp.com/signin">Meritize</a>s to view the props.
<br><br>
Keep up the good work,
<br>
Meritize.



