

<div id="masthead">
  
  <div class="container">
    
    <div class="masthead-pad">
      
      <div class="masthead-text">
        <h2>Dashbroad</h2>
        
      </div> <!-- /.masthead-text -->
      
    </div>
    
  </div> <!-- /.container --> 
  
</div> <!-- /#masthead -->



 
 <%= stylesheet_link_tag "payment.css" %>



<body>
  <div id="content">

    <div class="price-chart">
      
      <div class="pt-table">  
        <div class="pt-body">
          <ul class="pt-rows">
            <li class="title"><span>Plan A – Applaud</span><span>Plan B – Award</span><span>Plan C – Alloy</span></li>
            <li class="fees"><span>$0.50</span><span>$0.50</span><span>$1.00</span></li>  
                      
            <li>
              <!-- button for checkout -->
              <% @plans.each do |plan| %>
              <span class="pt-no">
              <% @subscription = plan.subscriptions.build %>
                <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_checkout_path(plan_id: @subscription.plan_id, user_id: current_user.id) %>
               </span>
              <% end %>
            </li>
            
          </ul>
        </div>
        
      </div>
    </div>
    
</div>
</body></html>
