
  <div id="info">
    <div class="container" style = "margin-bottom:100px">
      
      <div class="jumbotron">
        <p>Use this page to create several users at a time. You will need a file with a list of first name, last name, email address and department. We'll take their email address and make it their username. The system will send the new users their password. Oh, and if there is someone with that email address already, we will update their first name and last name.</p>
      </div>
      <div class="container">
        <img src="/assets/Users upload file.png" align="right" alt="Screenshot of a sample file to upload" style="border:1px solid black">
        Let's get started. We need a file from you. It has to be a "csv" file. That stands for comma separated values. You can create one in Excel by doing a File - Save As. Make sure to leave the column headers in so that we understand the contents of your file.
        It's rather important that the column headers be named this: <b>firstname,lastname,email,department</b> (Note the lower case). Actually, it's critical that you name the column headers exactly right. If the column headers aren't right we won't be able to load the information in to our system. One last thing, there can't be any commas in the department name.</p>

        <h4>Step 1. Select the CSV file with the list of users</h4>
        <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file, accept: 'text/csv' %></br>
        <%=  hidden_field_tag :admin_user_id , :value => current_user.id %>

        <h4>Step 2.</h4>
        After you have selected the file, click the button below to kick off the upload process. Note that by clicking this button you certify that you are authorized to create users. And that you understand that an email will be sent immediately to the users at the email address in the csv file.<br />
        <%= submit_tag "Everything checks out. Let's do this!",:class => "button button-primary" %>
      <% end %>
        
        
      </div>
    </div>
  </div>