<div id="footer">
		<div class="container">
			
			<div class="row credits">
				<div class="col-md-12" style="color:#FFFFFF">
					&copy; 2014 Meritize. Motivate, earn, reward.
				</div>
			</div>
		</div>
	</div>

