
                  <div class = "fields">
	                  <div class="col-md-4">
	                   
	                    <%= f.text_field :title ,:class=>"form-control" %>
	                  </div>
	                  <div class="col-md-8">
	                    <%= f.text_area :description,:rows =>3,:class=>"form-control" %>
	                    <%= link_to_remove_fields "remove", f %>
	                  </div>
                   </div>
           
              


