<div class="media">
  <% @prop_displays.each do |prop_display| %>
      <div class="media-body">
        <h4 class="media-heading text-left"><%= prop_display.sender.fullname rescue nil %></h4>
        <p><i>@<%= prop_display.receiver.fullname rescue nil%> <%= prop_display.description rescue nil%>.</i></p>
        <p class="text-right "><i class="fa fa-thumbs-up">&nbsp; <i class="fa fa-mail-reply"></i>&nbsp;&nbsp;</i>&nbsp;<%= custom_time(prop_display) %>&nbsp;</p>
      </div>
  <% end %>
</div>
