<% # This page and controller shows all the props across all accounts. %>
<% # Commented out everything and added a line "Access Denied" %>
<p align="center">Access denied</p>
<!--<h1>PropDisplays#index</h1>
<p>Find me in app/views/prop_displays/index.html.erb</p>
-->