<!-- Manage Trial Days -->

<div class="container">
			<div class="row header">
				<div class="col-md-8 message">
				     <div class="form-group">
				    		<label for="name"><h3>Manage Trial Days</h3></label>
				    		<!-- <p id="notice"><%= notice %></p>  -->
				    		        <%= render 'form' %>

				  	 </div>
		         </div>
		    </div>
</div>
