<% # This page and controller is not used. %>
<% # Commented out everything and added a line "Access Denied" for security reasons. %>
<p align="center">Access denied</p>

<!--<h1>PropDisplays#index</h1>
<p>Find me in app/views/prop_displays/index.html.erb</p>
-->