<h1>Listing trial_days</h1>

<table>
  <tr>
    <th>Days</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trail_days.each do |trail_day| %>
  <tr>
    <td><%= trail_day.days %></td>
    <td><%= link_to 'Edit', edit_trail_day_path(trail_day) %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trial day', new_trail_day_path %>
